body {
    font-family: sans-serif;
    background-color: #c4c4c4;
    text-align: center;
}

main, .surround, footer{
    margin: 0 auto 2em;
    width: 60%;
    background: #FFFFFF;
    padding: 1em;
    border-radius: 50px;
}

footer {
    margin-bottom: 0;
}

.note-container > label {
    display: block;
    text-align: left;
}

.note-container {
    width: 60%;
    margin: 0 auto;
}

textarea {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    border-color: #c4c4c4;
    margin-bottom: 1em;
}

button {
    margin: 1% auto;
    display: block;
    padding: 3% 8%;
    font-size: x-large;
    border-radius: 50px;
    background-color: #ededed;
}

#controls {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#controls > label {
    margin: 0 1%;
}

input[type="number"] {
    width: 5em;
}

@media only screen and (max-width: 800px) {
    main, .surround, nav {
        width: 80%;
    }

    #controls {
        flex-flow: column;
    }

    input[type="number"] {
        width: 2em;
    }
}
nav {
    background: #FFFFFF;
    padding: 1em;
    border-radius: 50px;
    width: 60%;
    margin: 0 auto 2em;
}

nav ol {
    list-style-type: none;
    padding-left: 0;
    margin: auto;
}

nav li {
    display: inline-block;
}

nav a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #515151;
    }

    main, .surround, nav, footer {
        background-color: #d3d3d3;
    }

     textarea, input {
         background-color: #ededed;
     }
}

#note_data {
    overflow-wrap: break-word;
}

input[name="note_id"] {
    min-height: 1.5em;
}