{% extends "base.html" %}
{% block title %}Retrieve Note{% endblock %}
{% block content %}
<body>
<main>
    <h1>Note {{ note.id }}</h1>
    {# Replacing python newlines into linebreaks and marking the linebreaks as safe
    with no need for escaping#}
    <p id="note_data">{{ note.data|replace('\n', '<br>'|safe) }}</p>
    <button id="copy" onclick="copyText()">Copy to Clipboard</button>
</main>
<script src="{{ url_for('static', filename='clipboard-polyfill.js') }}"></script>
<script>
    async function copyText() {
        const txt = document.getElementById('note_data').innerText;

        if (navigator.clipboard) {
            await navigator.clipboard.writeText(txt);
        } else {
            // Uses a polyfill from the clipboard-polyfill.js file
            clipboard.writeText(txt);
        }
    }
</script>
{% endblock %}