{% extends "base.html" %}
{% block title %}Retrieve Note{% endblock %}
{% block content %}
<body>
<main>
    <h1>Note {{ note.id }}</h1>
    {# Replacing python newlines into linebreaks and marking the linebreaks as safe
    with no need for escaping#}
    <p id="note_data">{{ note.data|replace('\n', '<br>'|safe) }}</p>
    <button id="copy" onclick="copyText()">Copy to Clipboard</button>
</main>
<script>
    async function copyText() {
        const txt = document.getElementById('note_data').innerText;
        await navigator.clipboard.writeText(txt);
    }

    if (location.protocol !== 'https:' && location.hostname !== "localhost"
        && location.hostname !== "127.0.0.1" && location.hostname !== "0.0.0.0"
        && !location.hostname.startsWith('192.168')) {
        document.getElementById('copy').style.display = 'none'
    }
</script>
{% endblock %}