<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Note</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="surround">
    <form action="{{ url_for('clientInsert') }}" method="post">
        <h1>Create New Note</h1>
        <p>Share text between computers without creating digital clutter. </p>
        <div class="note-container">
            <label for="note-insert">Insert Note:</label>
            <textarea id="note-insert" name="note" rows="10"></textarea>
        </div>
        <div id="controls">
            <label>Private:
                <input type="checkbox" name="private" checked></label>
            <label>Days to Live:
                <input type="number" value="1" name="ttl_days"> </label>
            <label>Maximum Visits:
                <input type="number" value="2" name="max_visits"> </label>
        </div>
        <button type="submit">Submit!</button>
    </form>
</div>
<div class="surround">
    <form id="fetch" name="fetch" action="{{ url_for('fetch', note_id='BLANK') }}"
          method="get" onsubmit="return createFetchUrl('fetch');">
        <h1>Fetch Existing Note</h1>
        <p>Retrieve a previously entered note with the associated code</p>
        <label>Enter Note Code:
            <input name="note_id"></label>
        <button type="submit">Submit</button>
    </form>
</div>
<script>
    function createFetchUrl(formName) {
        // Fetching the value of the code input
        const form = document.forms[formName];
        const note_id_input = form.querySelector('input[name="note_id"]');
        const note_id = note_id_input.value.replace(' ', '-');

        // Changing the form action to go to the note corresponding to the code
        let url = form.action.split('/').slice(0, -1);
        url.push(note_id);
        url = url.join('/');
        form.action = url;

        // Turning off the input during submission so there's no unnecessary GET param
        note_id_input.disabled = true;
        form.submit();
        note_id_input.disabled = false;

        // Return false because we've already submitted a form
        return false;
    }
</script>
</body>
</html>